{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        {{ $image:= .Params.image }}
        {{ if $image }}
        <div class="lg:col-6 p-6">
            {{ partial "image" (dict "Src" $image "Alt" .Title "Class" "w-full rounded") }}
        </div>
        <div class="lg:col-6 p-6">
          {{ else }}
        <div class="lg:col-12 p-6">
          {{ end }}
          <h1 class="h1 mb-4">
            {{ .Title }}
          </h1>
          <div class="content mb-10">
            {{ .Content }}
          </div>
          </div>
          <div class="row items-start justify-end">
            <div class="lg:col-4 flex items-center">
              {{ partial "social-share" (dict "Context" . "Class" "share-icons" "Title" (i18n "share") "Twitter" false "Reddit" false "Email" false "Facebook" false ) }}
            </div>
          </div>
       
      </div>

    </div>
  </section>
{{ end }}
